<h1> View Some Patient Card </h1>

<table>
  <tr>
    <td> ID: </td>
    <td> <%= @patientcard.id %> </td>
  </tr>

  <tr>
    <td> Code: </td>
    <td> <%= @patientcard.code %> </td>
  </tr>

  <tr>
    <td> Description: </td>
    <td> <%= @patientcard.description %> </td>
  </tr>

</table>