<h1> View Some Specialty </h1>

<table>
  <tr>
    <td> ID: </td>
    <td> <%= @specialty.id %> </td>
  </tr>

  <tr>
    <td> Name: </td>
    <td> <%= @specialty.name %> </td>
  </tr>

  <tr>
    <td> Description: </td>
    <td> <%= @specialty.description %> </td>
  </tr>

</table>