<h1> View Doctors </h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% Doctor.all.each do |doctor| %>
      <tr>
        <td><%= doctor.id %></td>
        <td><%= doctor.name %></td>
        <td><%= doctor.email %></td>
        <td><%= doctor.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>