<h1> View Some Doctor </h1>

<table>
  <tr>
    <td> ID: </td>
    <td> <%= @doctor.id %> </td>
  </tr>

  <tr>
    <td> Name: </td>
    <td> <%= @doctor.name %> </td>
  </tr>

  <tr>
    <td> Email: </td>
    <td> <%= @doctor.email %> </td>
  </tr>

  <tr>
    <td> Phone: </td>
    <td> <%= @doctor.phone %> </td>
  </tr>

</table>