body {
  font-family: Georgia, serif;
  background-color: hsl(120, 30%, 70%);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.field_with_errors {
  display: inline-block;
}

.label,
.large-label {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  width: 100px;
}

.large-label {
  font-size: 24px;
  font-weight: bold;
  width: 280px;
}

.input-field {
  display: inline-block;
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #218838;
}

.button:active {
  background-color: #1e7e34;
  transform: scale(0.95);
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #495057;
  margin-top: 20px;
}